<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css"> 
    <title>Get to Philosophy</title>
</head>

<body>
    <h1>Error 404</h1>
    <p>This page does not exist!</p>
</body>

</html>