<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>Get to Philosophy</title>
</head>

<body>
    <h1>Get to Philosophy</h1>
    <p>Apparently clicking on the first link in the main text of a Wikipedia article, and then repeating the process for
        subsequent articles, usually leads to the Philosophy article.</p>
    <p>Find out more <a href="https://en.wikipedia.org/wiki/Wikipedia:Getting_to_Philosophy" target="_blank">here</a>.
    </p>

    <form action="" id="search_form">
        <input type="text" id="search_input" placeholder="Input search term" required />
        <button id="search">Search</button>
    </form>


    <div>
        <ul id="search_results"></ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>

</body>

</html>